/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.undodir/
*.tar
elyctis-middleware/src/ElyctisCardService/bin/
elyctis-middleware/src/ElyctisCardService/obj/
.env.backup
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
